@mixin filter-on-surface-variant {
  filter: brightness(0) saturate(100%) invert(77%) sepia(0%) saturate(635%) hue-rotate(241deg) brightness(80%) contrast(86%);
}

@mixin filter-on-surface-variant-dark {
  filter: brightness(0) saturate(100%) invert(61%) sepia(0%) saturate(2%) hue-rotate(84deg) brightness(89%) contrast(91%);
}

@mixin filter-on-surface {
  filter: brightness(0) saturate(100%) invert(0%) sepia(98%) saturate(0%) hue-rotate(13deg) brightness(98%) contrast(105%) ;
}

@mixin filter-on-surface-dark {
  filter: brightness(0) saturate(100%) invert(87%) sepia(7%) saturate(0%) hue-rotate(189deg) brightness(99%) contrast(98%) ;
}