// @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
  --surface: #eeeeee;
  --on-surface: #000;
  --on-surface-variant: #9a9a9a;
  
  --on-surface-container: #d6d6d6;

  --primary: #f5e74e;
  --on-primary: #000;
}

[data-theme="dark"] {
  --surface: #000;
  --on-surface: #d7d7d7;
  --on-surface-variant: #8a8a8a;

  --on-surface-container: #2f2f2f;

  --primary: #f5e74e;
  --on-primary: #000;
}