---
import Layout from '../layouts/Layout.astro';

---


<Layout pageTitle={`404 Not Found`} pageDescription={`404 Not Found`}>
  <main>
    Page not found!
    <a href="/">Back</a>
  </main>
  <!-- background image -->
  <img
    class="background-image"
    src="/avatar-transparent.png"
    alt="background image"
    draggable="false"
  >
</Layout>