---
import ThemeButton from "./ThemeButton.astro"

---


<nav class="navbar-container">
  <div class="top">
    <a href="/"><h1>roifjcf</h1></a>
    <ul>
      <li><a href="/about">About</a></li>
      <li><a href="/dev">Dev</a></li>
      <li><a href="/life">Life</a></li>
    </ul>
  </div>
  <ThemeButton />
</nav>