---
import '../styles/main.scss';

---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <meta name="author" content="roifjcf" >
    <meta name="keywords" content="roifjcf, blog, tech, web development" >
    <meta name="description" content="roifjcf's blog" >
    <title>roifjcf</title>


    <script is:inline>
      (function() {
        try {
          const savedTheme = localStorage.getItem("theme") || "light";
          document.documentElement.setAttribute("data-theme", savedTheme);
        } catch (_) {
          // fallback if localStorage is not accessible
          document.documentElement.setAttribute("data-theme", "light");
        }
      })();
    </script>

    <!-- <script>
      (() => {
        const savedTheme = localStorage.getItem("theme") || "light";
        document.documentElement.setAttribute("data-theme", savedTheme);
      })();
    </script> -->


  </head>
  <body>
    <slot />

    
  </body>
</html>